<%- include('./layouts/header', {title: 'La pagina no existe - Centro medico Dos Alamos'}); %> 

<!-- 
    Crear el diseño y reedirigir a pag. principal
-->
<h1>Error 404</h1>
<p>Volver a la <a href="/">pagina principal</a></p>

<%- include('./layouts/footer'); %> 