<%- include('./layouts/header', {title: 'La pagina no existe - Centro medico Dos Alamos'}); %> 

<div class="container formricardo">
    <h1 class="text-center">Error 404</h1>
    <p class="text-center">Volver a la <a href="/">pagina principal</a></p>
</div>

<%- include('./layouts/footer'); %> 