<%- include('./layouts/header', {title: 'Asignar horarios de atención - Centro medico Dos Alamos'}); %> 

<% if (messageError != '') { %>
    <p class="alert alert-danger text-center"><%= messageError %> </p>
<% } %>

<div>
    <form action="" method="post" class="formuliarioricardo">
        <div>
            <label class="labelricardo">Nombre:</label>
            <label class="labelricardo"><%= userAssing.name %> </label>
        </div>
        <div>
            <label class="labelricardo">Agregar dia y hora de atención</label>
            <input class="inputricardo" type="datetime-local" name="hoursAttention" id="hoursAttention">
        </div>
        <input class="inputricardo" type="submit" value="Agregar">
    </form>
</div>

<%- include('./layouts/footer'); %> 