<%- include('./layouts/header', {title: 'Disponibilidad - Centro medico Dos Alamos'}); %> 

<div class="container formuliarioricardo">
    <form method="post">
        <h2>Disponibilidad</h2>
        <div>
            <label class="labelricardo">Nombre: <%= userAvailability.name %> </label>
        </div>
        <div class="selectricardo">
            <select name="state" id="state" class="selectricardo">
                <option value="Disponible">Disponible</option>
                <option value="No disponible">No disponible</option>
            </select>
        </div>
        <div>
            <input  class="inputricardo" type="submit" value="Enviar">
        </div>
    </form>
</div>

<%- include('./layouts/footer'); %> 