<%- include('./layouts/header', {title: 'Centro medico Dos Alamos'}); %> 
<body>
    <h1 class="h1index">Bienvenido al centro medico Dos Alamos</h1>
    <div class="container1">
        <div class="textocontainer">
            <h2>Nuestros servicios</h2>
            <p >El Centro Médico “Dos Álamos”, comenzó como una empresa familiar, que principalmente, se
                dedicaban a facilitar espacios totalmente implementados en su edificio a médicos generales.
                Actualmente se encuentran los siguientes servicios:
            </p>
            <ul>
                <li>Medicina General</li>
                <li>Kinesiologia</li>
                <li>Oftalmología</li>
                <li>Otorrinolaringología</li>
                <li>Nutricion</li>
                <li>Toma de examenes</li>

            </ul>
         </div>  
    </div>
    <div class="container2">
        <h2>El compromiso de Dos Alamos</h2>
        <p>Es asegurar a nuestros pacientes un trato humanitario, oportuno, honesto, respetuoso, transparente, con cada vez más altos estándares de calidad en la prestación de servicios.Al mismo tiempo nos preocupamos de tener un grato ambiente tanto en la recepción del paciente como en sus instalaciones, manteniendo un ambiente limpio y seguro.</p>
    </div>

</body>



<%- include('./layouts/footer'); %> 