<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/header'); -%>
  <body>
    <%- include ('partials/navbar'); -%>

    <div class="container">
      <h1 style="font-size: 40px; font-family: Georgia, 'Times New Roman', Times, serif;"  class=" text-light pt-2 ">Bienvenido al centro medico Dos Alamos</h1>
      <div class="row p-4">
          
        <div class="col-md-12 form-group">
            <button class="btn btn-dark btn-lg col-md-3" >Iniciar Sesion</button>
        </div>
        <div class="col-md-12 form-group">
            <button class="btn btn-dark btn-lg col-md-3" >Reservar Horas</button>
        </div>
      </div>

    </div>
  </body>
</html>
