<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/header'); -%>

<body>
    <%- include ('partials/navbar'); -%>
    <!-- Formulario de Login -->
    <form action="" class="formulario">
        <h1>Login</h1>
         <div class="contenedor">

            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input class="input1" type="text" placeholder="Correo" >
    
            </div>
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input class="input1"  type="password" placeholder="Password" >
    
            </div>
    
            <input type="submit" value="Aceptar" class="button">
            <p class="p1">¿No tienes cuenta?  <a href="registrar.html" class="a1">Registrate</a></p> 
            
    
         </div>
    </form>

    
</body>
</html>