<%- include('./layouts/header', {title: 'Perfil - Centro medico Dos Alamos'}); %> 

<% if (successRegister != '') { %>
    <p><%= successRegister %> </p>
<% } %>

<% if (user.rol === 'Paciente') { %>
    <h1>Perfil Paciente</h1>
<% } else if (user.rol === 'Secretaria'){ %>
    <h1>Perfil Secretaria</h1>
<% } else if (user.rol === 'Medico') { %>
    <h1>Perfil Médico</h1>
<% } else { %>
    <h1>Perfil Administrador</h1>
<% } %>
 
<div>
    <ul>
        <li><%= user.name %></li>
    </ul>
</div>

<%- include('./layouts/footer'); %> 