<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/header'); -%>

</head>
<body>
    <%- include ('partials/navbar'); -%>
<!-- Formulario de Registro -->
    <form action="" class="formulario">
        <h1>Registro</h1>
        <div class="contenedor">

            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input class="input1"  type="text" placeholder="Nombre" >

            </div>
            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input class="input1"  type="text" placeholder="Correo" >

            </div>
            <div class="input-contenedor">
                <i class="fas fa-compass"></i>
                <input class="input1"  type="text" placeholder="Dirección" >

            </div>
            <div class="input-contenedor">
                <i class="fas fa-phone"></i>
                <input class="input1"  type="text" placeholder="9 8888 8888">

            </div>
            <div class="input-contenedor">
                <i class="fas fa-phone"></i>
                <input class="input1"  type="date" placeholder="Fecha de Naciemiento">

            </div>
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input class="input1"  type="password" placeholder="Password" >

            </div>

            <input type="submit" value="Aceptar" class="button">
            <p class="p1">¿Ya tienes una cuenta?  <a href="login.html" class="a1">Iniciar Sesion</a></p> 
            

        </div>
    </form>
    
</body>
</html>