<%- include('./layouts/header', {title: 'Registro - Centro medico Dos Alamos'}); %> 

<% if (errorRegister != '') { %>
    <p><%= errorRegister %> </p>
<% } %>

<div>
    <form action="" method="POST" class="formulario" id="getFormularioRegistro">
        <h1>Registro</h1>
        <div class="contenedor">
            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input class="input1" type="text" name="name" id="name" placeholder="Nombre">
            </div>
            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input class="input1" type="text" name="run" id="run" placeholder="Run (Ej: 12345678-9">
            </div>
            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input class="input1" type="text" name="email" id="email" placeholder="Correo">
            </div>
            <div class="input-contenedor">
                <i class="fas fa-compass"></i>
                <input class="input1" type="text" name="address" id="address" placeholder="Dirección">
            </div>
            <div class="input-contenedor">
                <i class="fas fa-phone"></i>
                <input class="input1" type="text" name="phone" id="phone" placeholder="+56912345678">
            </div>
            <div class="input-contenedor">
                <i class="fas fa-phone"></i>
                <input class="input1" type="date" name="birthday" id="birthday" placeholder="Fecha de Naciemiento">
            </div>
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input class="input1" type="password" name="password" id="password" placeholder="Password">
            </div>
            <input type="submit" value="Aceptar" class="button">
            <p class="p1">¿Ya tienes una cuenta? <a href="/login" class="a1">Iniciar Sesion</a></p>
        </div>
    </form>
</div>

<%- include('./layouts/footer'); %> 