<%- include('./layouts/header', {title: 'Contacto - Centro medico Dos Alamos'}); %> 

<!--Pagina para enviar correo MEJORAR PLEASE-->

<div >
    <form method="POST" class="formuliarioricardo">
        <div>
            <label class="labelricardo">Nombre:</label>
            <input class="inputricardo" type="text" value="<%= userTo.name %>" readonly>   
        </div>
        <div>
            <label class="labelricardo">Correo:</label>
            <input class="inputricardo" type="email" name="email" id="email" value="<%= userTo.email %>" readonly>
        </div>
        <div>
            <label class="labelricardo">Mensaje</label>
            <textarea class="textarearicardo" name="msg" id="msg" cols="20" rows="3"></textarea>
        </div>
        <div>
            <input class="inputricardo" type="submit" value="Enviar">
        </div>
    </form>
</div>

<%- include('./layouts/footer'); %> 