@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Regular-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Black";
  src: url("./fonts/Raleway-Black.ttf");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: Raleway;
  margin: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.7) 100%
    ),
    url(img/stethoscope.jpg);
  background-image: -webkit-linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.7) 100%
    ),
    url(img/stethoscope.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
}

.titulo {
  font-size: 40px;
}

.contenedor {
  width: 100%;
  padding: 15px;
}
.contenedor1 {
  width: 100%;
  padding: 65px 0px;
  
}

.boxname{
  position: relative;
  left: 100px;
  top: 50px;
}

.formulario {
  background-color: #ffffff;
  padding: 8px;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  
}

.formulariologin {
  background-color: #ffffff;
  padding: 60px 0px;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  
}

h1 {
  font-family: Raleway;
  text-align: center;
  font-size: 40px;
}

.input1 {
  font-size: 20px;
  width: 82%;
  padding: 10px;
  border: 1px solid #aaa; 
}

.input-contenedor {
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

.incon {
  min-width: 15px;
  text-align: center;
  margin: 2px;
}

.button {
  border: none;
  width: 98%;
  color: white;
  background-color: #1a2537;
  font-size: 20px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.button-group {
  width: 100%;
}

.p1 {
  text-align: center;
}

.a1 {
  text-align: right;
  text-decoration: none;
  color: #1a2537;
}

.a1:hover {
  color: gray;
  text-decoration: underline;
}

.button:hover {
  color: gray;
}

.titulosombras {
  color: white;
  text-shadow: 2px 2px 5px rgb(187, 187, 187);
  font-size: 20px;


}


.titulosombras2 {
  text-shadow: 2px 2px 5px rgb(187, 187, 187);
  
}

.titulosombras3 {
  color: white;
  text-shadow: 2px 2px 5px rgb(187, 187, 187);
  padding-right: 50px;
  font-size: 20px;
}


.ul1 {
  list-style-type: none;
  background-color:#154aa0 ;
  color: white;
  margin-top: 100px;
  padding: 50px 20px;
  bottom: 0;

}
.li1 {
  display: inline;
}

.a2 {
  color: white;
}



.img1 {
  display: block;
}
.container1 {
  background-color: rgb(160, 170, 192);

}
.container1 h2 {
  color: #154aa0 ;
}

.textocontainer {
  padding: 30px 30px;
  margin: 20px 300px;
}

.textocontainer  p{
  font-size: 25px;
  color: black;
}

.textocontainer h2 {
  font-size: 40px;
  text-align: center;
}

.textocontainer ul {
  font-size: 25px;
  color: black;
  
}

.h1index {
  padding: 30px 0px;
  color: #04193a;
  text-shadow: 2px 2px 5px rgb(90, 87, 87);
  font-size: 50px;
}

.navbar {
  padding: 20px 20px;
}

.container2 {
  background-color: rgb(6, 155, 155);
  padding: 40px 50px;
  text-align: center;
}

.container2 h2 {
  font-size: 40px;
  color: #04193a;
}

.container2 p {
  color: white;
  font-size: 20px;
  padding: 5px 250px;
  text-align: center;
 
}

label{
  color: black;
  text-align: center;
  margin: 0;
  font-size: 20px;
  margin-bottom: 20px;
}

form{
  width: 450px;
  margin: auto;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}

input, textarea{
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
}