@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Regular-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Black";
  src: url("./fonts/Raleway-Black.ttf");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: Raleway;
  margin: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.7) 100%
    ),
    url(img/stethoscope.jpg);
  background-image: -webkit-linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.7) 100%
    ),
    url(img/stethoscope.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.titulo {
  font-size: 40px;
}

.contenedor {
  width: 100%;
  padding: 15px;
}

.formulario {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
}

h1 {
  font-family: Raleway;
  text-align: center;
  font-size: 40px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 20px;
  width: 82%;
  padding: 10px;
  border: 1px solid #aaa;
}

.input-contenedor {
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

.incon {
  min-width: 15px;
  text-align: center;
  margin: 2px;
}

.button {
  border: none;
  width: 98%;
  color: white;
  background-color: #1a2537;
  font-size: 20px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.button-group {
  width: 100%;
}

.p1 {
  text-align: center;
}

.a1 {
  text-align: right;
  text-decoration: none;
  color: #1a2537;
}

.a1:hover {
  color: gray;
  text-decoration: underline;
}

.button:hover {
  color: gray;
}
