
<footer>
    <ul class="ul1"> 
        <li>@2021 CENTRO MÉDICO DOS Alamos</li>
        <li>Todos los derechos reservados</li>
        <li class="li1"><a class="a2" href="#"> Aviso Legal | </a></li>
        <li class="li1" ><a class="a2" href="#"> Politica de privacidad |</a></li>
        <li class="li1"><a class="a2" href="#"> Encuentranos</a></li>
        
    </ul>
</footer>
