<script>
    function btnmod () { 
        console.log('works')
        var disabled = document.getElementById("estado").disabled;
          if (disabled) {
        document.getElementById("estado").disabled = false;
        } else {
            document.getElementById("estado").disabled = true;
        }

                 }
</script>
</body>

</html>